*{
  box-sizing: border-box;
}
body {
    font-family: 20px fantasy;
}
.navbar {
    /* background-color: rgba(33, 75, 124, 1); */
    font-size: 20px;
}
.quem-somos {
  background-image: url("file:///var/www/html/img/praia1.jpg");
  background-repeat: no-repeat;
    /* background-color: aqua; */
    color: black;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px
}
.parceiros{
    background-color: aquamarine;
    color: black;
}
.parceiros img {
  margin-bottom: 30px;
}
.bg-footer{
    background-color: black;
    color: aliceblue;
}
.card-text {
  font-size: 12px;
}
.card-text small {
  font-size: 12px;
}
.card-img {
  margin: 10px;
  margin-top: 20px;
}
