body {
    font-family: 20px fantasy;
}
.navbar {
    background-color: #5E6108;
    font-size: 20px;
}
.quem-somos {
    background-color: aqua;
    color: aliceblue;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px
}
.parceiros{
    background-color: aquamarine;
    color: aliceblue;
}
.bg-footer{
    background-color: black;
    color: aliceblue;
}