*{
  box-sizing: border-box;
}
body {
    /* background-color: #ecf0f1; */
    font-family: 20px fantasy;
}
.navbar {

}
.quem-somos {
  background-image: url("file:///var/www/html/img/praia1.jpg");
  background-repeat: no-repeat;
  color: black;
}
.margin{
    padding-bottom: 25px;
    padding-top: 10px;
}
.parceiros{
    background-color: #ecf0f1;
    color: black;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.parceiros img {
  margin-bottom: 30px;
}
.card-text {
  font-size: 12px;
}
.card-text small {
  font-size: 12px;
}
.card-img {
  margin: 10px;
  margin-top: 20px;
}
.conheca {
  width: 95%;
  margin-top: 10px;
  background-color: #ecf0f1;
}
.conheca h6 {
  margin-bottom: 28px;
}
.conheca-2 {
  width: 95%;
  margin-bottom: 10px;
  background-color: #ecf0f1;
}
.passagem {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  padding: 20px;
  background-color: #ecf0f1;
}
.passagem h6, h3 {
  text-align: center;
}
.passagem img {
  width: 98%;
  height: 230px;
}
.bg-footer{
    background-color:#2980b9;
    color: #ecf0f1;
    height: 40px;
    width: 95%;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}
